*.class

.project
.classpath

# Package Files #
*.jar
*.war
*.ear

*~

SpectatorPlus/.settings/
SpectatorPlus/.idea/
SpectatorPlus/bin/
SpectatorPlus/target/
SpectatorPlus/dependency-reduced-pom.xml

*.iml
.idea
