---
title: Home
---

{% include header.html %}

<section>

  <img src="http://dev.bukkit.org/media/images/69/790/teleported.png" />
  <img src="http://dev.bukkit.org/media/images/65/4/spec2.png" />

  <h3>Downloads</h3>

  <ul>
    <li><a href="http://dev.bukkit.org/bukkit-plugins/spectator/files/" class="button">BukkitDev</a></li>
    <li><a href="https://github.com/pgmann/SpectatorPlus/releases/" class="button">Github</a></li>
    <li><a href="http://jenkins.carrade.eu/job/SpectatorPlus/" class="button">Jenkins</a></li>
  </ul>
  
</section>

{% include footer.html %}

