---
title: Downloads
---

{% include header.html %}

<section>

  <img src="//dev.bukkit.org/media/images/69/790/teleported.png" />
  <img src="//dev.bukkit.org/media/images/65/4/spec2.png" />

  <h2>Downloads</h2>

  <div id="downloads">
    <ul>
      <li><a href="//dev.bukkit.org/bukkit-plugins/spectator/files/" class="button">BukkitDev</a></li>
      <li><a href="//github.com/pgmann/SpectatorPlus/releases/" class="button">Github</a></li>
      <li><a href="//ci.pgmann.cf/job/SpectatorPlus/" class="button">Jenkins</a></li>
    </ul>
  </div>
  
</section>

{% include footer.html %}

