---
title: Home
---

{% include header.html %}

<section>

  <img src="https://dev.bukkit.org/media/images/69/790/teleported.png" />
  <img src="https://dev.bukkit.org/media/images/65/4/spec2.png" />

  <a name="what-it-does" class="anchor" href="#what-it-does"><span class="octicon octicon-link"></span></a>What is this?

  <p>
    Ever got bored standing behind a wall of glass waiting for the next game to start?
    Or if you're a server owner, do you dread the question <i>"Can I have creative so I can spectate?"</i>
  </p>
  <p>
    Yep, I've been there too. That's why I made this plugin! When you die and are out of the game, 
    just do <i>/spec on</i> and you will be given flight and a window will open letting you teleport to other 
    players still in the game. But here's the great bit! Players still in the game can't see you, and you 
    can't interact with the world (cause damage, break or place blocks, etc). When you're finished just do 
    <i>/spec off</i> to be teleported back to spawn. Simple!
  </p>

  <a name="requirements" class="anchor" href="#requirements"><span class="octicon octicon-link"></span></a>Any requirements?</h3>

  <p>
    If you have a plugin with a /spawn command on your server, you're all set. Otherwise, you need 
    to set up a spectator lobby to make sure players are teleported back to spawn afterwards (see the setup section).
  </p>

  <a name="customisation" class="anchor" href="#customisation"><span class="octicon octicon-link"></span></a>Can I make this plugin do x, y and z?</h3>

  <p>
    The chances are you probably can. Have a look at the list of toggles in the <i>toggles.yml</i> configuration file, 
    and let your imagination run wild!
  </p>

</section>

{% include footer.html %}
